@typeparam TEnum
@inherits FormBase


<div class="@($"col-{Col} col-md-{ColMd}")">
    <div class="@($"form-group {MainTheme}")">
        @if(Info is not null)
        {
            <label>@LabelTitle <span><Icon Element="@Icons.Info" Color="@($"{MainTheme}")" /></span></label>
            
        }
        else
        {            
        <label for="@InputId">@LabelTitle</label>
        }
<InputSelect id="@InputId" Value="Value" ValueChanged="ValueChanged" ValueExpression="@ValueExpression">
    @if (ShowDefaultOption)
    {
    <option selected disabled value="" style="color: rgba(255, 255, 255, 0.7)">@(DefaultOptionText ?? Localizer[ResourceLanguage.Seleziona])</option>
    }
            @foreach (var value in EnumValues)
            {
                string label;

                if (typeof(TEnum) == typeof(Category) || typeof(TEnum) == typeof(Category?))
                {
                    var casted = (Category)Enum.Parse(typeof(Category), value!.ToString()!);
                    label = HelperTraduzione.Traduzione(casted, Localizer);
                }
                else
                {
                    label = value?.ToString() ?? "";
                }

                <option value="@value">@label</option>
            }


</InputSelect>
    </div>
    <ValidationMessage For="ValueExpression" class="@($"error-message {MainTheme}")" />
</div>
