@using Feel.Components.AssistantChoices
@using Feel.Components.Obiettivo
<div @onclick="Action">

    @if(AssistantChoice is ModalType.AggiungiObiettivo)
    {
        <Modal ActionClass="@ActionClass" CssClass="@CssClass" ActionText="@ActionText" ModalType="AssistantChoice" ModalId="@ModalId">
        <AddObiettivo @ref="_addObiettivo" ModalId="@ModalId" />
        </Modal>

}
    @if (AssistantChoice is ModalType.CambiaTema)
    {
        <Modal ActionClass="@ActionClass" CssClass="@CssClass" ActionText="@ActionText" ModalType="AssistantChoice" ModalId="@ModalId">
            <ChangeTheme @ref="_changeTheme" ModalId="@ModalId" />
        </Modal>

    }
    @if (AssistantChoice is ModalType.AreaUtente)
    {
        <Modal ActionClass="@ActionClass" CssClass="@CssClass" ActionText="@ActionText" ModalType="AssistantChoice" ModalId="@ModalId">
            <UserSettings @ref="_userSettings" ModalId="@ModalId" />
        </Modal>

    }
    @if (AssistantChoice is ModalType.InformazioniApp)
    {
        <Modal ActionClass="@ActionClass" CssClass="@CssClass" ActionText="@ActionText" ModalType="AssistantChoice" ModalId="@ModalId">
            <About @ref="_about" ModalId="@ModalId" />
        </Modal>

    }
</div>


