@inherits MainClassBase




<!-- Button trigger modal -->
@if(ModalType is ModalType.Button)
{
    <button type="button" class="btn btn-primary" @onclick="Esegui">
        Launch demo modal
    </button>
}

else if(ModalType is ModalType.AggiungiObiettivo || ModalType is ModalType.CambiaTema || ModalType is ModalType.InformazioniApp || ModalType is ModalType.AreaUtente)
{

    <div class="@($"assistente message-box {MainTheme} {ActionClass} {CssClass}")" @onclick="Esegui">
        <span class="@($"message-text {MainTheme}")">@ActionText</span>
    </div>
}

else if (ModalType is ModalType.EditObiettivo)
{
    <div class="col-2 go-to-details" @onclick="Esegui">
        <div>
            <span class="@($"text-{MainTheme}-feel-primary")">></span>
        </div>
    </div>

}

else if (ModalType is ModalType.DeleteObietttivo)
{

    <div class="col-1 p-0" @onclick="SimpleOpenPopUp">
        <div class="progress-card-delete"><Icon Element="@Icons.Delete" Color="white" /></div>
    </div>
}

@{
    var modalId = ModalType == ModalType.DeleteObietttivo ? $"delete{ModalId}" : $"{ModalId}";
}

<!-- Modal -->
<div class="modal fade" id="@modalId" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="@($"modal-content {MainTheme}")">
            @if(!string.IsNullOrWhiteSpace(Title))
            {                    
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-feel-light="Close"></button>
                </div>
            }
            @if (ModalType != ModalType.DeleteObietttivo)
            {
                <div class="modal-body">
                    @ChildContent
                </div>
            }
            else
            {
                <div class="modal-body">
                    @Localizer[ResourceLanguage.TestoDeleteObiettivo]
                </div>
            <div class="@($"modal-footer {MainTheme}")">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer[ResourceLanguage.Annulla]</button>
                    <button type="submit" class="btn btn-danger" @onclick="Elimina">@Localizer[ResourceLanguage.Elimina]</button>
            </div>
            }   
        </div>
    </div>
</div>

