@using Feel.Components.Obiettivo
@inherits MainClassBase

@if(Obiettivo is not null)
{   
    string isDeleteObiettiviChecked = DeleteObiettivoToggle ? "col-6" : "col-7";

    <div class="col recap-box">
        <div class="@($"row progress-bar-section {MainTheme} {IsCompleted}")">
            @if(DeleteObiettivoToggle)
            {
                <Modal ModalType="ModalType.DeleteObietttivo" ModalId="@Obiettivo.Id" OnActionClick="() => DeleteObiettivo(Obiettivo.Id)"/>
            }
            <div class="col-3 progress-bar-bottle-container">
                <div class="@($"progress-card {MainTheme}")">
                    <div class="bottle rounded-pill">
                        <span class="bottle-fill" style="@($"height: {Obiettivo.Percentage}%; background-color: {FillColor};")"></span>
                    </div>
                    <span class="@($"percentuale {MainTheme}")">@($"{Obiettivo.Percentage}%")</span>
                </div>
            </div>
            <div class="@($"{isDeleteObiettiviChecked} progress-bar-recap")">
                <span>@HelperTraduzione.Traduzione(Obiettivo.Categoria, Localizer)</span>
                <span>@Obiettivo?.Titolo</span>
                @if(Obiettivo.Completed)
                {                  
                <span class="@($"{MainTheme}")">@Localizer[ResourceLanguage.DataCompletamento]: <strong>@Obiettivo.DataCompletamento</strong></span>
                }
                else
                {
                    <span class="@($"{MainTheme}")">@Localizer[ResourceLanguage.Scadenza]: <strong>@Obiettivo.Scadenza</strong></span>
                }
        </div>
        <Modal ModalType="ModalType.EditObiettivo" OnActionClick="Action" ModalId="@Obiettivo.Id">
        <UpdateObiettivo @ref="_updateObiettivo" ObiettivoId="@Obiettivo.Id"/>
        </Modal>
    </div>
</div>
}

