
    <div class="container-fluid">
        <div class="row row-cols-2">

            <div class="col">


            <div class="@($"progress-card-box bg-{MainTheme}-progress-card-sfondo shadow-sm")">
                <div class="progress-card">
                    <h2 class="@($"progress-card-title m-0 text-{MainTheme}-progress-card-titolo-testo")">@Localizer[ResourceLanguage.Test]</h2>
                    <div class="progress-card-body">
                        <div class="pill-box">
                            <div class="progress-card-bg-bar rounded-pill">
                                <span class="progress-bar-fill bg-success"></span>
                            </div>
                        </div>
                        <div class="pill-box">
                            <div class="progress-card-bg-bar rounded-pill">
                                <span class="progress-bar-fill bg-warning"></span>
                            </div>
                            <div class="@($"data-box progress-card-title m-0 text-{MainTheme}-progress-card-titolo-testo")">
                                <span>10/05</span>
                                <span>2025</span>
                            </div>
                        </div>
                    </div>
                    <h3 class="@($"progress-card-title m-0 text-{MainTheme}-progress-card-titolo-testo")">90%</h3>
                </div>
            </div>
        </div>

        <div class="col">

            <div class="@($"progress-card-box bg-{MainTheme}-progress-card-sfondo shadow-sm")">
            <div class="progress-card">
                <h2 class="@($"progress-card-title m-0 text-{MainTheme}-progress-card-titolo-testo")">@Localizer[ResourceLanguage.Test]</h2>
                <div class="progress-card-body">
                    <div class="pill-box">
                        <div class="progress-card-bg-bar rounded-pill">
                            <span class="progress-bar-fill bg-success"></span>
                        </div>
                    </div>
                    <div class="pill-box">
                        <div class="progress-card-bg-bar rounded-pill">
                            <span class="progress-bar-fill bg-warning"></span>
                        </div>
                        <div class="@($"data-box progress-card-title m-0 text-{MainTheme}-progress-card-titolo-testo")">
                            <span>10/05</span>
                            <span>2025</span>
                        </div>
                    </div>
                </div>
                <h3 class="@($"progress-card-title m-0 text-{MainTheme}-progress-card-titolo-testo")">90%</h3>
            </div>
        </div>


        </div>

        </div>
    </div>

