@using Feel.Components.Localization
@using Feel.Shared.Dto.Assistente
@using Feel.Shared.Dto.Tema
<EditForm Model="@CreateUserModel" OnValidSubmit="Salva">
    <DataAnnotationsValidator />
    @if (PageOne)
    {

          
        <div class="setup-page">
            <LanguageSelector />
        <div class="buttons-box">               
            <button type="button" class="next" @onclick="Avanti">@Localizer[ResourceLanguage.Avanti]</button>
            </div>
        </div>
    }
    else if(PageTwo)
    {
        <div class="setup-page">
            <span class="descrizione">@((MarkupString)Localizer[ResourceLanguage.SetupBenvenuto].Value)</span>
            <InputText class="form-control" @bind-Value="CreateUserModel.Name" @oninput="OnNameInput" />

            <div class="buttons-box">
                @if (IsNameValid)
                {
                    <button type="button" @onclick="Indietro">@Localizer[ResourceLanguage.Indietro]</button>
                    <button type="button" class="next" @onclick="Avanti">@Localizer[ResourceLanguage.Avanti]</button>
                }
                else
                {
                    <button type="button" @onclick="Indietro">@Localizer[ResourceLanguage.Indietro]</button>
                    <button type="button" disabled @onclick="Avanti">@Localizer[ResourceLanguage.Avanti]</button>
                }
            </div>

        </div> 
    }
    else if (PageThree)
    {
        <div class="setup-page">
            <span class="descrizione">@((MarkupString)Localizer[ResourceLanguage.SetupAssistente].Value)</span>
            <div class="row row-cols-2">
                @foreach(var assistente in Assistants.AssistantsList)
                {
                    bool isSelected = CreateUserModel?.Assistente == assistente;
                    string posizione = isSelected ? "gioca" : "dorme";
                    <div class="col assistente-box" @onclick="() => SelectAssistente(assistente)">
                        <img class="@($"{isSelected}")" src="@($"/css/images/Assistenti/Setup/{posizione}-{assistente.PicName}")" />
                    </div>
                }
            </div>
            <div class="buttons-box">
                @if(CreateUserModel?.Assistente is not null)
                {
                    <button type="button" @onclick="Indietro">@Localizer[ResourceLanguage.Indietro]</button>
                    <button type="button" class="next" @onclick="Avanti">@Localizer[ResourceLanguage.Avanti]</button>
                }
                else
                {
                    <button type="button" @onclick="Indietro">@Localizer[ResourceLanguage.Indietro]</button>
                    <button type="button" disabled @onclick="Avanti">@Localizer[ResourceLanguage.Avanti]</button>
                }

            </div>
        </div>
    }
    else if (PageFour)
    {
        <div class="setup-page">
            <span class="descrizione">@((MarkupString)Localizer[ResourceLanguage.SetupThemes].Value)</span>
            <div class="row row-cols-2">
                @foreach (var tema in Themes.ThemesList)
                {
                    bool isSelected = CreateUserModel?.Tema == tema;
                    string selected = isSelected ? "selected" : "";
                    <div class="col mb-2">
                        <div class="row gap-2">
                            <div class="col-12 p-2">
                                <div class="tema-box" @onclick="() => SelectTema(tema)">
                                    <div class="@($"smartphone {selected} bg-{tema.Nome}-feel-main-bg")">
                                        <div class="@($"modalexample bg-{tema.Nome}-feel-primary")">
                                            <div class="@($"text-primo bg-{tema.Nome}-feel-light")"></div>
                                            <div class="@($"text-secondo bg-{tema.Nome}-feel-light")" ></div>
                                            <div class="example-buttons">
                                            <div class="@($"ok bg-{tema.Nome}-feel-light")"></div>
                                                <div class="@($"indietro bg-{tema.Nome}-feel-gray")"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                <span class="@($"tema-nome {selected}")">@PrimaMaiuscola(tema.Nome)</span>
                            </div>
                        </div>
                    </div>               
                }
            </div>
            <div class="buttons-box">
                @if (CreateUserModel?.Tema is not null)
                {
                    <button type="button" @onclick="Indietro">@Localizer[ResourceLanguage.Indietro]</button>
                    <button type="button" class="next" @onclick="Avanti">@Localizer[ResourceLanguage.Avanti]</button>
                }
                else
                {
                    <button type="button" @onclick="Indietro">@Localizer[ResourceLanguage.Indietro]</button>
                    <button type="button" disabled @onclick="Avanti">@Localizer[ResourceLanguage.Avanti]</button>
                }

            </div>
        </div>

    }
    else if (PageFive)
    {
        <div class="setup-page">
            <div class="setup-recap">
             <div class="section">
                <h2>@Localizer[ResourceLanguage.Nome]</h2>
                    <span>@NameConverter.NameToCapitalize(CreateUserModel?.Name)</span>
             </div>
                <div class="section">
                    <h2>@Localizer[ResourceLanguage.Assistente]</h2>
                    <img src="@($"/css/images/Assistenti/fronte-{CreateUserModel?.Assistente?.PicName}")" />
                </div>
                <div class="section">
                    <h2>@Localizer[ResourceLanguage.Tema]</h2>
                    <span class="@($"text-{CreateUserModel?.Tema?.Nome}-feel-primary")">@PrimaMaiuscola(CreateUserModel.Tema.Nome)</span>
                </div>
            </div>
            <div class="buttons-box">
                <button type="button" class="bottone-avanti" @onclick="Indietro">@Localizer[ResourceLanguage.Indietro]</button>
                <button type="button" class="next" @onclick="Salva">@Localizer[ResourceLanguage.Salva]</button>
            </div>
        </div>
    }
    </EditForm>