@inherits MainClassBase

<div class="@($"row filterbox {MainTheme}")">
    @{
        var filterText = !FilterToggle ? Localizer[ResourceLanguage.MostraFiltri] : Localizer[ResourceLanguage.NascondiFiltri];
    }
    <div class="@($"col-12 filtertitle")" @onclick="ShowFilters">@filterText</div>

    @if(FilterToggle)
    {       
    <div class="@($"col-6 filterform mt-2 mb-3 {MainTheme}")">
        <label for="completamento">@Localizer[ResourceLanguage.Stato]</label>
        <select class="form-select" @onchange="OnCompletedChanged" id="completamento">
            <option value="">@Localizer[ResourceLanguage.Seleziona]</option>
            <option value="true">@Localizer[ResourceLanguage.Completati]</option>
            <option value="false">@Localizer[ResourceLanguage.NonCompletati]</option>
        </select>
    </div>

    <div class="@($"col-6 filterform mt-2 mb-3 {MainTheme}")">
        <label for="categoria">@Localizer[ResourceLanguage.Categoria]</label>
        <select class="form-select" @bind="categoriaTemp" @bind:event="onchange" id="categoria">
            <option value="">@Localizer[ResourceLanguage.Seleziona]</option>
            @foreach (var cat in Enum.GetValues<Category>())
            {
                var label = HelperTraduzione.Traduzione(cat, Localizer);
                <option value="@cat">@label</option>
            }
        </select>
    </div>

        <div class="@($"col-12 filterform mb-4 {MainTheme}")">
            <label for="ordinamento">@Localizer[ResourceLanguage.Ordina]</label>
            <select class="form-select" @onchange="OnOrdinamentoChanged" id="ordinamento">
                <option value="desc">@Localizer[ResourceLanguage.OrdinaPiuRecente]</option>
                <option value="asc">@Localizer[ResourceLanguage.OrdinaMenoRecente]</option>
            </select>
        </div>


    <div class="@($"col-12 filterform filteractives mb-4 {MainTheme}")">
        @if (CompletedFilter.HasValue)
        {
            <span class="badge">
                @((CompletedFilter.Value ? "Completati" : "Non completati"))
                <button class="btn btn-sm btn-close ms-1" @onclick="ClearCompletedFilter"></button>
            </span>
        }

        @foreach (var cat in CategorieSelezionate)
        {
            <span class="badge">
                @HelperTraduzione.Traduzione(cat, Localizer)
                <button class="btn btn-sm btn-close" @onclick="@(() => ClearCategoria(cat))"></button>
            </span>
        }

        @if (CompletedFilter.HasValue || CategorieSelezionate.Any())
        {
            <button class="btn btn-link text-danger" @onclick="ResetFilters">Reset</button>
        }
    </div>
    }
</div>
